{% extends "core/base.html" %}
{% block header %}
    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom">
            <a href="{% url "core:index" %}" class="d-flex align-items-center text-dark text-decoration-none">
                <i style="width:40px;" class="bi bi-arrow-left"></i>
                <span class="fs-4">Main</span>
            </a>
        </header>
    </div>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold mb-5">{% block jumbotron_title %}{% endblock %}</h1>
                <p class="col-md-8 fs-4">
                    {% block jumbotron_passage %}{% endblock %}
                </p>
            </div>
        </div>
        <form action="{% block form_action_url %}{% endblock %}" method="POST">
            <div class="mb-3">
                <label for="" class="form-label">Input text here</label>
                <textarea name="textarea" placeholder="Input text here" id="" cols="30" rows="10"
                          class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
{% endblock %}