{% extends "core/base.html" %}
{% block body %}
    {% include "core/header.html" %}
    <div class="container">
        {% block description %}{% endblock %}
        {% block result %}{% endblock %}
        <form action="{% block form_action_url %}{% endblock %}" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="" class="form-label">Input text here</label>
                <textarea name="textarea" placeholder="Input text here" id="" cols="30" rows="10"
                          class="form-control"
                          style="resize: none;">{{ textarea_input }}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}